
.MenuPalkki {
  display: flex;
 
}
.MenuPalkki > *{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Ravintolalista {
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}


.Etusivu {
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  grid-template-columns: 50% 50%  ;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.column {
  flex-direction: column;  
}

.LoginSivu {
  margin: inherit;
}

.RavintolaSivu {
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.RavintolaSivuIso{
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: 50%, 50%;
}
.Ruokalista{
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.LuoRavintolaNakyma {
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  min-width: 200px;
  grid-template-columns: 100%  ;
}
.Ostoskori{
  border: 1px solid black;
  margin: 30px;
  padding: 10p;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}